body { 
    color: gray;
    font-weight:bold; 
    font-family: Georgia, serif; 
    font-size:20px;
    }
.contenedor{
position: relative;
max-width: 380px;
margin: 0 auto;
}
.pt-1{
color: gray;
font-size:25px;
}

#logoutBtn{
border:0;
font-size:25px;
}

.text-center{
background-color: #d6d5d5;
color: rgb(146, 146, 146);
font-weight:lighter;

}
